[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
pytest = "*"
pytest-mock = "*"
pytest-aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.7"
