[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"

[dev-packages]
pytest = "*"
pytest-aiohttp = "*"
pytest-asyncio = "*"
pytest-mock = "*"
rich = "*"

[requires]
python_version = "3.7"
