[tool.poetry]
name = "pybotters"
version = "0.16.0"
description = "An advanced API client for python botters."
license = "MIT"
authors = ["MtkN1 <51289448+MtkN1@users.noreply.github.com>"]
readme = "README.md"
repository = "https://github.com/MtkN1/pybotters"
documentation = "https://pybotters.readthedocs.io/ja/latest/"
classifiers = [
    "Framework :: AsyncIO",
    "Framework :: aiohttp",
    "Topic :: Internet :: WWW/HTTP",
    "Topic :: Office/Business :: Financial :: Investment",
    "Development Status :: 4 - Beta",
    "Operating System :: OS Independent",
    "Environment :: Web Environment",
    "Intended Audience :: Developers",
    "Intended Audience :: Financial and Insurance Industry",
    "Natural Language :: Japanese",
    "Typing :: Typed"
]


[tool.poetry.dependencies]
python = "^3.7"
aiohttp = "^3.7.4"
rich = "^10.1.0"
typing-extensions = { version = ">=3.7.4", python = "<3.8" }
python-dateutil = "^2.8.2"

[tool.poetry.dev-dependencies]
pytest = "^6.2.3"
pytest-mock = "^3.5.1"
pytest-asyncio = "^0.14.0"
pytest-aiohttp = "^0.3.0"
asyncmock = "^0.4.2"
pytest-freezegun = "^0.4.2"
toml = "^0.10.2"
black = "^22.1.0"
flake8 = "^5.0.0"
isort = "^5.10.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
