name: pytest

on: [push, pull_request]

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9]
        poetry-version: [1.1.6]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        uses: abatilo/actions-poetry@v2.1.2
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Set up Poetry virtualenv
        run: poetry env use python${{ matrix.python-version }}
      - name: Install dependency libraries
        run: poetry install
      - name: Run Tests
        run: poetry run pytest